<div class="row">
  <div class="col m-3">

    <div *ngIf="banner === 'flex'">
      <!--on desktop show this ad-->
      <div class="curb-ad d-none d-sm-block ">
        <img src="assets/images/banner-728.gif" alt="Publicidade" class="mx-auto d-block img-fluid">
      </div>


      <!--on mobile show this ad-->
      <div class="curb-ad d-block d-sm-none " *ngIf="showOnlyDesktop">
        <img src="assets/images/banner-arroba.gif" alt="Publicidade" class="mx-auto d-block img-fluid">
      </div>
    </div>


    <div *ngIf="banner === 'rectangle'">
      <div class="curb-ad">
        <img src="assets/images/banner-arroba.gif" alt="Publicidade" class="mx-auto d-block img-fluid">
      </div>
    </div>

  </div>
</div>
