<!-- footer -->
<div class="container-fluid mt-5">
  <footer class="row curb-footer text-center">
    <div class="col"><!-- col to split footer widget and footer infos -->

      <div class="row"> <!-- footer widgets - 3 columns -->

        <div class="col-md-4 p-3">
          <h4>Menu rapido</h4>
          <ul>
            <li>Home</li>
            <li>News</li>
            <li>Reviews</li>
            <li>Calendar</li>
            <li>Contact</li>
          </ul>
        </div>

        <div class="col-md-4 p-3">
          <h4>Instagram</h4>
        </div>

        <div class="col-md-4 p-3">
          <h4>Facebook</h4>
        </div>

      </div> <!-- end footer widget

        <!-- footer infos -->
      <div class="row curb-footer-infos">
        <div class="col text-left  m-3">Corrida Urbana - 2012</div>
        <div class="col text-right m-3">All rights reserved</div>
      </div><!-- end footer infos -->

    </div><!-- end of the col to split footer widget and footer infos -->

  </footer>
</div>
