<div class="container">

  <div class="row">
    <!--post content-->
    <!-- Loader -->
    <div *ngIf="!loaded" class="loader mx-auto my-5"></div>
    <div *ngIf="loaded"class="col-md-8">
<div *ngFor="let post of posts">



      <h1 class="my-4 curb-post-single-title">{{post.title}}</h1>
           <div class="curb-post-single-image"><img src="{{post.featuredImage.post}}" height="200px" alt=""></div>

</div>
      <!--<div class="curb-post-single-body" [innerHTML] = "post.content"></div>-->
    </div>
    <!--sidebar-->
    <div class="col-md-4">

      <!--<app-widget-calendar></app-widget-calendar>-->
      <!--<app-ads [title]="'Publicidade'" [banner]="'rectangle'"></app-ads>-->
      <!--<app-ads [banner]="'rectangle'"></app-ads>-->
      <!--<app-ads [banner]="'rectangle'"></app-ads>-->
      <!--<app-ads [banner]="'rectangle'"></app-ads>-->
    </div>
  </div>
</div>
