<div class="container">

<div class="row">
  <!--post content-->
  <div class="col-md-8">

    <h1 class="my-4 curb-post-single-title"> My First Post on Corrida Urbana</h1>
    <div class="curb-post-single-image"><img src="/assets/images/review-1.jpg" alt=""></div>

    <div class="curb-post-single-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius ipsa molestias nihil quod rem! Ipsa minus natus
        nostrum quaerat. Adipisci ea eos eum, facilis fugiat id quam quas qui ullam?</p>
      <p>Eveniet incidunt minus odit. Animi, deserunt id illo impedit in laborum magni quos reprehenderit sed veniam.
        Aliquid culpa dicta illum quas qui quidem repudiandae sit. Beatae distinctio dolore explicabo laboriosam?</p>
      <p>Cum dicta id ipsum repellat vero. Aliquam asperiores debitis delectus distinctio dolore dolorem eligendi error,
        excepturi expedita facere id in iusto minima nobis nulla odio officiis quae quas sint temporibus.</p>
      <p>Blanditiis consequatur enim illum, iusto laboriosam maxime perspiciatis quas sequi temporibus. Ad alias
        corporis
        culpa, distinctio dolore earum, ex fugit illo impedit nemo nostrum optio repellat sint totam velit voluptas.</p>
    </div>
  </div>
  <!--sidebar-->
  <div class="col-md-4">

    <app-widget-calendar></app-widget-calendar>
    <app-ads [title]="'Publicidade'" [banner]="'rectangle'"></app-ads>
    <app-ads [banner]="'rectangle'"></app-ads>
    <app-ads [banner]="'rectangle'"></app-ads>
    <app-ads [banner]="'rectangle'"></app-ads>
  </div>
</div>
</div>
