<div class="row">
  <h4 class="curb-block-title m-3 w-100">Reviews</h4>
  <div class="col-sm-6 col-md-12" *ngFor="let r of reviews, let i = index">
    <div class="curb-post">
      <div class="curb-post-infos">
        <div class="curb-review-stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <div class="curb-post-title curb-post-title-2">Review e Avaliação Mizuno Prorunner 20</div>
      </div>
      <img src="assets/images/review-{{i+1}}.jpg">
    </div>
  </div>
</div>



