


  <div class="row">

    <div class="col-sm-6 col-lg-12" *ngFor="let r of reviews">
      <div class="curb-post">
        <div class="curb-post-infos">
          <h4 class="curb-post-title">My first Featured Post!</h4>
          <div class="curb-review-stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
        </div>
        <img src="assets/images/post.jpg">
      </div>
    </div>


  </div>



