<div class="container">
  <div class="row">
    <div class="col">
      <h4 class="curb-block-title my-3 w-100">Calendar</h4>
      <!-- Filters -->
      <div class="row">
        <div class="col-4 mb-4">
          <input type="text" class="form-control" placeholder="search..." #inputSearch>
        </div>

        <div class="col text-left">
          <button class="btn btn-success ml-2" (click)="filterEvents()">Search</button>
        </div>

        <div class="form-group col-md-4">
          <select id="inputState" class="form-control" (change)="filterState($event.target.value);">
            <option selected>Choose State...</option>
            <option>RJ</option>
            <option>SP</option>
            <option>MG</option>
            <option>DF</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="row">
              <div class="curb-filter-distance float-left text-center m-1" (click)="filterDistance('5K', $event)">
                <div class="curb-filter-distance-text curb-distance-5K" >5K</div>
              </div>
              <div class="curb-filter-distance float-left text-center m-1" (click)="filterDistance('10K', $event)">
                <div class="curb-filter-distance-text curb-distance-10K">10K</div>
              </div>
              <div class="curb-filter-distance float-left text-center m-1" (click)="filterDistance('21K', $event)">
                <div class="curb-filter-distance-text curb-distance-21K">21K</div>
              </div>
              <div class="curb-filter-distance float-left text-center m-1" (click)="filterDistance('42K', $event)">
                <div class="curb-filter-distance-text curb-distance-42K">42K</div>
            </div>
          </div>
        </div>
      </div>
      <!-- Loader -->
      <div *ngIf="!loaded" class="loader mx-auto my-5"></div>
      <!-- Calendar -->
      <div class="row curb-calendar" *ngIf="loaded">
        <div class="col-4" *ngFor="let e of eventList">
          <div class="row">
            <div class="col m-1 curb-event">
              <div class="row p-3">
                <!--COL Title - Place - Distances-->
                <div class="col-9 col-md-12 col-lg-9 p-0 curb-event-infos">
                  <!--Title-->
                  <div class="row">
                    <div class="col curb-event-title">{{e.title}}</div>
                  </div>
                  <!--Place-->
                  <div class="row">
                    <div class="col curb-event-place"><i class="fas fa-globe-americas"></i> {{e.address.place}}</div>
                  </div>
                </div><!--Title - Place-->
                <!--COL Date-->
                <div class="col-3 col-md-12 col-lg-3 pl-0 curb-event-date">
                  <div class="row">
                    <div class="col text-right m-0 p-0">
                      <span class="curb-event-day">{{e.date.day}}</span>
                      <span class="curb-event-month"> {{e.date.monthName.substring(0, 3)}}</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col text-right m-0 p-0 curb-event-year">20{{e.date.year}}</div>
                  </div>
                </div><!--COL Date-->
              </div>

              <!--Distances-->
              <div class="row">
                <div class="col mt-1">
                  <div *ngFor="let distance of e.distances" class="curb-event-distance float-left text-center m-1">
                    <div class="curb-event-distance-text curb-distance-{{distance}}">{{distance}}</div>
                  </div>
                </div>
              </div><!--Distances-->


              <!--Share Infos -->
              <div class="row curb-event-share-link p-2 m-1 mt-2">
                <div class="col-8 curb-event-share pl-0">
                  <i class="fab fa-facebook m-1"></i>
                  <i class="fab fa-whatsapp m-1"></i>
                  <i class="far fa-envelope m-1"></i>
                </div>
                <div class="col-4 text-right pr-0">
                  <a class="curb-event-link p-1 px-2">
                    <i class="fas fa-info-circle"></i> Infos
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


